rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isA1Master() {
      return request.auth != null
        && request.auth.token.email == "YOUR_A1_MASTER_EMAIL@example.com";
    }

    match /global_campaigns/{campaignId} {
      allow read: if true;
      allow create, update, delete: if isA1Master();
    }

    match /ad_assets/{assetId} {
      allow read: if true;
      allow create, update, delete: if isA1Master();
    }

    match /a1_audit_logs/{logId} {
      allow read, create: if isA1Master();
      allow update, delete: if false;
    }

    match /app_releases/{releaseId} {
      allow read: if request.auth != null;
      allow create, update, delete: if isA1Master();
    }

    match /app_release_files/{releaseFileId} {
      allow read: if request.auth != null;
      allow create, update, delete: if isA1Master();
    }

    match /app_release_history/{historyId} {
      allow read: if request.auth != null;
      allow create, update, delete: if isA1Master();
    }

    match /devices/{deviceId} {
      allow read: if true;
      allow create, update: if true;
      allow delete: if isA1Master();
    }

    match /ad_play_events/{eventId} {
      allow read: if isA1Master();
      allow create: if true;
      allow update, delete: if isA1Master();
    }

    match /ad_daily_rollups/{rollupId} {
      allow read: if isA1Master();
      allow create, update: if true;
      allow delete: if isA1Master();
    }
  }
}
